{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        ;; Clara Rules - use latest stable version
        com.cerner/clara-rules {:mvn/version "0.21.0"}

        ;; We'll implement EAV ourselves rather than depend on external library
        clyfe/clara-eav {:mvn/version "0.1.9"}

        ;; XLSX Processing
        org.apache.poi/poi {:mvn/version "5.4.1"}
        org.apache.poi/poi-ooxml {:mvn/version "5.4.1"}

        ;; Utilities
        org.clojure/data.json {:mvn/version "2.4.0"}
        ;;  hiccup/hiccup {:mvn/version "1.0.5"}
        ;;  djblue/portal {:mvn/version "0.59.1"}
        }

 :aliases {:dev {:extra-paths ["dev" "test" "src"]
                 :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                              criterium/criterium {:mvn/version "0.4.6"}
                              hiccup/hiccup {:mvn/version "1.0.5"}
                              djblue/portal {:mvn/version "0.59.1"}}}
           
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}
                                cider/cider-nrepl {:mvn/version "0.55.4"}}
                   :main-opts ["-m" "nrepl.cmdline" 
                               "--bind" "127.0.0.1" 
                               "--middleware" "[cider.nrepl/cider-middleware]"]}}
}