{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE" #{"C.E.A."},
 "PROJECT DIRECTOR II"
 #{"PRINCIPAL TRANSPORTATION ENGINEER, CALTRANS"},
 "PERSONNEL TECHNICIAN I" #{"STAFF SERVICES MANAGER I"},
 "FORESTER III"
 #{"FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "EXECUTIVE ASSISTANT"
   "ENVIRONMENTAL PROGRAM MANAGER II"},
 "ENVIRONMENTAL SCIENTIST"
 #{"FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"},
 "SENIOR ARSON AND BOMB INVESTIGATOR"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"},
 "SUPERVISING SPECIAL INVESTIGATOR I (NON-PEACE OFFICER)"
 #{"ASSISTANT CHIEF" "STAFF SERVICES MANAGER II (SUPERVISORY)"},
 "PROJECT DIRECTOR I" #{"SENIOR CIVIL ENGINEER"},
 "SECRETARY" #{"C.E.A." "SENIOR AVIATION OFFICER"},
 "GUNSMITH" #{"ASSISTANT CHIEF"},
 "ARSON AND BOMB INVESTIGATOR" #{"SENIOR ARSON AND BOMB INVESTIGATOR"},
 "INFORMATION TECHNOLOGY ASSOCIATE"
 #{"INFORMATION TECHNOLOGY SUPERVISOR II" "STAFF SERVICES MANAGER I"
   "ASSISTANT CHIEF"
   "STAFF SERVICES MANAGER II (SUPERVISORY)"
   "TELECOMMUNICATIONS SYSTEMS MANAGER I (SUPERVISOR)"},
 "HEAVY EQUIPMENT MECHANIC (CORRECTIONAL FACILITY)"
 #{"FORESTRY EQUIPMENT MANAGER I"},
 "STAFF SERVICES ANALYST"
 #{"FORESTER III" "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "ACCOUNTING ADMINISTRATOR II"
   "INFORMATION TECHNOLOGY SUPERVISOR II"
   "STAFF SERVICES MANAGER I"
   "ASSISTANT CHIEF"
   "BATTALION CHIEF"
   "STAFF SERVICES MANAGER II (SUPERVISORY)"
   "C.E.A."},
 "OFFICE TECHNICIAN (TYPING)"
 #{"FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "ACCOUNTING ADMINISTRATOR II"
   "STAFF SERVICES MANAGER I"
   "ASSISTANT CHIEF"
   "ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"
   "STAFF SERVICES MANAGER II (MANAGERIAL)"},
 "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
 #{"LABOR RELATIONS MANAGER I" "C.E.A."},
 "ASSOCIATE CIVIL ENGINEER"
 #{"PRINCIPAL TRANSPORTATION ENGINEER, CALTRANS" "C.E.A."},
 "SUPERVISING CIVIL ENGINEER, RESOURCES AGENCY"
 #{"PRINCIPAL TRANSPORTATION ENGINEER, CALTRANS"},
 "PRINCIPAL TRANSPORTATION ENGINEER, CALTRANS" #{"C.E.A."},
 "COMMUNICATIONS OPERATOR" #{"BATTALION CHIEF"},
 "ASSOCIATE CONSTRUCTION ANALYST"
 #{"SENIOR CIVIL ENGINEER" "SUPERVISING LAND SURVEYOR"},
 "DEPUTY STATE FIRE MARSHAL III (SUPERVISOR)"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"},
 "BUILDING MAINTENANCE WORKER" #{"SUPERVISOR OF BUILDING TRADES"},
 "SUPERVISING PIPELINE SAFETY ENGINEER"
 #{"SUPERVISING PIPELINE SAFETY ENGINEER" "C.E.A."},
 "ACCOUNTING OFFICER (SPECIALIST)"
 #{"ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"},
 "MAINTENANCE MECHANIC"
 #{"SUPERVISOR OF BUILDING TRADES" "FORESTRY EQUIPMENT MANAGER I"},
 "INFORMATION TECHNOLOGY MANAGER II" #{"C.E.A."},
 "MANAGEMENT SERVICES TECHNICIAN" #{"STAFF SERVICES MANAGER I"},
 "SENIOR MECHANICAL ENGINEER"
 #{"SUPERVISING CIVIL ENGINEER, RESOURCES AGENCY"
   "SENIOR CIVIL ENGINEER"
   "SUPERVISING ARCHITECT"
   "SUPERVISING MECHANICAL ENGINEER"},
 "BUSINESS SERVICE OFFICER I (SPECIALIST)"
 #{"STAFF SERVICES MANAGER I"},
 "SUPERVISING COOK I" #{"ASSISTANT CHIEF" "SUPERVISING COOK II"},
 "LEAD GUNSMITH" #{"ASSISTANT CHIEF"},
 "MAINTENANCE MECHANIC -CORRECTIONAL FACILITY-"
 #{"SUPERVISOR OF BUILDING TRADES"},
 "FORESTER II (SUPERVISORY)"
 #{"FORESTER III" "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "FORESTER II (SUPERVISORY)"
   "ENVIRONMENTAL PROGRAM MANAGER I (MANAGERIAL)"
   "ASSISTANT CHIEF"},
 "ENVIRONMENTAL PROGRAM MANAGER I (SUPERVISORY)"
 #{"ENVIRONMENTAL PROGRAM MANAGER II"},
 "INFORMATION OFFICER I (SPECIALIST)"
 #{"ASSISTANT CHIEF" "INFORMATION OFFICER II"},
 "SUPERVISOR OF BUILDING TRADES"
 #{"DIRECT CONSTRUCTION SUPERVISOR I" "CHIEF OF PLANT OPERATION I"},
 "RESEARCH DATA ANALYST II"
 #{"FORESTER III" "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "STAFF SERVICES MANAGER I"
   "ASSISTANT CHIEF"
   "RESEARCH DATA SUPERVISOR II"
   "RESEARCH DATA SUPERVISOR I"},
 "DIRECT CONSTRUCTION SUPERVISOR I" #{"SENIOR CIVIL ENGINEER"},
 "INFORMATION TECHNOLOGY MANAGER I"
 #{"INFORMATION TECHNOLOGY MANAGER II" "C.E.A."},
 "ACCOUNTING ADMINISTRATOR II" #{"ACCOUNTING ADMINISTRATOR III"},
 "STATIONARY ENGINEER (CORRECTIONAL FACILITY)"
 #{"CHIEF OF PLANT OPERATION I"},
 "INFORMATION TECHNOLOGY SUPERVISOR II"
 #{"INFORMATION TECHNOLOGY MANAGER I" "BATTALION CHIEF"},
 "BUSINESS SERVICE OFFICER I (SUPERVISOR)"
 #{"STAFF SERVICES MANAGER I"
   "STAFF SERVICES MANAGER II (SUPERVISORY)"},
 "SENIOR CIVIL ENGINEER"
 #{"SUPERVISING CIVIL ENGINEER, RESOURCES AGENCY"
   "PRINCIPAL TRANSPORTATION ENGINEER, CALTRANS"},
 "GRAPHIC DESIGNER III" #{"INFORMATION OFFICER II"},
 "LABOR RELATIONS MANAGER I" #{"C.E.A."},
 "FORESTER I (NONSUPERVISORY)"
 #{"FORESTER III" "FORESTER II (SUPERVISORY)"},
 "ENVIRONMENTAL PROGRAM MANAGER I (MANAGERIAL)" #{"C.E.A."},
 "ASSOCIATE PERSONNEL ANALYST" #{"STAFF SERVICES MANAGER I"},
 "ACCOUNTANT TRAINEE" #{"ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"},
 "FORESTRY ASSISTANT II"
 #{"FORESTER III" "FORESTER II (SUPERVISORY)"
   "FORESTER I (NONSUPERVISORY)"},
 "ASSOCIATE ACCOUNTING ANALYST"
 #{"STAFF SERVICES MANAGER I"
   "ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"},
 "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"
   "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "ENVIRONMENTAL PROGRAM MANAGER I (SUPERVISORY)"
   "ENVIRONMENTAL PROGRAM MANAGER I (MANAGERIAL)"
   "ENVIRONMENTAL PROGRAM MANAGER II"
   "C.E.A."},
 "COOK SPECIALIST I" #{"SUPERVISING COOK I"},
 "STUDENT ASSISTANT" #{"STAFF SERVICES MANAGER I"},
 "FOOD SERVICE TECHNICIAN I" #{"SUPERVISING COOK I"},
 "STAFF SERVICES MANAGER I"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"
   "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "ASSISTANT CHIEF"
   "SUPERVISING LAND SURVEYOR"
   "EXECUTIVE ASSISTANT"
   "STAFF SERVICES MANAGER II (SUPERVISORY)"
   "STAFF SERVICES MANAGER II (MANAGERIAL)"
   "ENVIRONMENTAL PROGRAM MANAGER II"
   "SUPERVISING RIGHT OF WAY AGENT"
   "C.E.A."
   "STAFF SERVICES MANAGER III"
   "SENIOR FORESTRY EQUIPMENT MANAGER"
   "SENIOR AVIATION OFFICER"},
 "FIRE PREVENTION SPECIALIST II" #{"ASSISTANT CHIEF"},
 "ASSISTANT CHIEF"
 #{"FORESTER III" "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "PRINCIPAL TRANSPORTATION ENGINEER, CALTRANS"
   "LABOR RELATIONS MANAGER I"
   "ASSISTANT CHIEF"
   "UNIT CHIEF"
   "C.E.A."},
 "SENIOR ARCHITECT" #{"SENIOR CIVIL ENGINEER" "SUPERVISING ARCHITECT"},
 "GROUNDSKEEPER" #{"SUPERVISOR OF BUILDING TRADES"},
 "ASSOCIATE GOVERNMENTAL PROGRAM ANALYST"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"
   "FORESTER III"
   "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "DEPUTY STATE FIRE MARSHAL III (SUPERVISOR)"
   "ACCOUNTING ADMINISTRATOR II"
   "ENVIRONMENTAL PROGRAM MANAGER I (MANAGERIAL)"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "STAFF SERVICES MANAGER I"
   "ASSISTANT CHIEF"
   "SUPERVISING LAND SURVEYOR"
   "STAFF SERVICES MANAGER II (SUPERVISORY)"
   "STAFF SERVICES MANAGER II (MANAGERIAL)"
   "TELECOMMUNICATIONS SYSTEMS MANAGER I (SUPERVISOR)"
   "ENVIRONMENTAL PROGRAM MANAGER II"
   "C.E.A."
   "STAFF SERVICES MANAGER III"},
 "SUPERVISING COOK II" #{"ASSISTANT CHIEF"},
 "COOK SPECIALIST II" #{"SUPERVISING COOK I"},
 "ACCOUNTING ADMINISTRATOR I (SPECIALIST)"
 #{"ACCOUNTING ADMINISTRATOR II"},
 "PERSONNEL SPECIALIST" #{"STAFF SERVICES MANAGER I"},
 "OFFICE ASSISTANT (GENERAL)"
 #{"BUSINESS SERVICE OFFICER I (SUPERVISOR)"},
 "FIRE CAPTAIN"
 #{"FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "LABOR RELATIONS MANAGER I"
   "ASSISTANT CHIEF"
   "FIRE CAPTAIN"
   "BATTALION CHIEF"},
 "ACCOUNTING ADMINISTRATOR III" #{"C.E.A."},
 "ACCOUNTANT I (SPECIALIST)"
 #{"ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"},
 "ATTORNEY" #{"ATTORNEY, ASSISTANT CHIEF COUNSEL"},
 "SUPERVISING LAND SURVEYOR" #{"C.E.A."},
 "SENIOR ACCOUNT CLERK" #{"ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"},
 "SENIOR ELECTRICAL ENGINEER" #{"SENIOR CIVIL ENGINEER"},
 "SENIOR LAND SURVEYOR" #{"SUPERVISING LAND SURVEYOR"},
 "CHIEF OF PLANT OPERATION I" #{"ASSISTANT CHIEF"},
 "PERSONNEL SELECTION TECHNICIAN" #{"STAFF SERVICES MANAGER I"},
 "TELEVISION SPECIALIST"
 #{"DIRECTOR, TELEVISION COMMUNICATIONS CENTER (SUPERVISOR)"},
 "TRAINING OFFICER I" #{"STAFF SERVICES MANAGER I"},
 "CUSTODIAN II" #{"CUSTODIAN SUPERVISOR I"},
 "RESEARCH DATA SUPERVISOR II" #{"ASSISTANT CHIEF"},
 "PIPELINE SAFETY ENGINEER"
 #{"SUPERVISING PIPELINE SAFETY ENGINEER" "C.E.A."},
 "ENGINEER, CIVIL" #{"SENIOR CIVIL ENGINEER"},
 "BATTALION CHIEF"
 #{"FORESTER III" "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "DEPUTY STATE FIRE MARSHAL III (SUPERVISOR)"
   "FORESTER I (NONSUPERVISORY)"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "ASSISTANT CHIEF"
   "BATTALION CHIEF"
   "RESEARCH DATA SPECIALIST II"},
 "FORESTRY FIRE PILOT" #{"SENIOR AVIATION OFFICER"},
 "SENIOR ENVIRONMENTAL PLANNER" #{"SUPERVISING LAND SURVEYOR"},
 "ELECTRICIAN II" #{"SUPERVISOR OF BUILDING TRADES"},
 "HEAVY FIRE EQUIPMENT OPERATOR" #{"FORESTRY EQUIPMENT MANAGER II"},
 "ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"
 #{"ACCOUNTING ADMINISTRATOR II"
   "STAFF SERVICES MANAGER II (SUPERVISORY)"},
 "FORESTRY LOGISTICS OFFICER I"
 #{"STAFF SERVICES MANAGER I" "ASSISTANT CHIEF" "BATTALION CHIEF"
   "FORESTRY EQUIPMENT MANAGER II"},
 "CUSTODIAN I" #{"CUSTODIAN SUPERVISOR I"},
 "STAFF SERVICES MANAGER II (SUPERVISORY)"
 #{"FORESTRY AND FIRE PROTECTION ADMINISTRATOR" "C.E.A."
   "STAFF SERVICES MANAGER III"
   "SENIOR AVIATION OFFICER"},
 "ASSOCIATE ELECTRICAL ENGINEER" #{"SENIOR CIVIL ENGINEER"},
 "TELECOMMUNICATIONS SYSTEMS ANALYST II"
 #{"TELECOMMUNICATIONS SYSTEMS MANAGER I (SUPERVISOR)"},
 "FORESTRY EQUIPMENT MANAGER I"
 #{"ASSISTANT CHIEF" "FORESTRY EQUIPMENT MANAGER II"},
 "ATTORNEY IV"
 #{"EXECUTIVE ASSISTANT" "ATTORNEY, ASSISTANT CHIEF COUNSEL"},
 "INFORMATION TECHNOLOGY SPECIALIST I"
 #{"FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "INFORMATION TECHNOLOGY MANAGER II"
   "INFORMATION TECHNOLOGY MANAGER I"
   "INFORMATION TECHNOLOGY SUPERVISOR II"},
 "AVIATION OFFICER II (FLIGHT OPERATIONS)"
 #{"SENIOR AVIATION OFFICER"},
 "FIRE SERVICE TRAINING SPECIALIST III"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"
   "DEPUTY STATE FIRE MARSHAL III (SUPERVISOR)"},
 "WAREHOUSE WORKER"
 #{"BUSINESS SERVICE OFFICER I (SUPERVISOR)" "ASSISTANT CHIEF"},
 "FIRE FIGHTER I"
 #{"ASSISTANT CHIEF" "FIRE CAPTAIN" "BATTALION CHIEF"
   "FIRE APPARATUS ENGINEER"},
 "SENIOR ACCOUNTING OFFICER (SPECIALIST)"
 #{"ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"},
 "GRAPHIC DESIGNER I" #{"INFORMATION OFFICER II"},
 "DEPUTY STATE FIRE MARSHAL"
 #{"DEPUTY STATE FIRE MARSHAL III (SUPERVISOR)"},
 "AVIATION OFFICER III (MAINTENANCE)" #{"SENIOR AVIATION OFFICER"},
 "MATERIALS AND STORES SPECIALIST"
 #{"BUSINESS SERVICE OFFICER I (SUPERVISOR)" "ASSISTANT CHIEF"
   "BATTALION CHIEF"
   "TELECOMMUNICATIONS SYSTEMS MANAGER I (SUPERVISOR)"},
 "AVIATION OFFICER II (MAINTENANCE)" #{"SENIOR AVIATION OFFICER"},
 "EXECUTIVE SECRETARY I" #{"C.E.A."},
 "LABOR RELATIONS SPECIALIST" #{"LABOR RELATIONS MANAGER I"},
 "INFORMATION TECHNOLOGY SPECIALIST III"
 #{"INFORMATION TECHNOLOGY MANAGER II"},
 "SPECIAL INVESTIGATOR"
 #{"SUPERVISING SPECIAL INVESTIGATOR I (NON-PEACE OFFICER)"
   "ASSISTANT CHIEF"},
 "AUTOMOTIVE TECHNICIAN II" #{"FORESTRY EQUIPMENT MANAGER I"},
 "RESEARCH DATA SPECIALIST I"
 #{"INFORMATION TECHNOLOGY SUPERVISOR II"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "RESEARCH DATA SUPERVISOR II"
   "RESEARCH DATA MANAGER"
   "RESEARCH DATA SPECIALIST II"},
 "TELECOMMUNICATIONS SYSTEMS MANAGER I (SUPERVISOR)"
 #{"INFORMATION TECHNOLOGY MANAGER I"},
 "OFFICE TECHNICIAN (GENERAL)"
 #{"FORESTER III" "BUSINESS SERVICE OFFICER I (SUPERVISOR)"
   "STAFF SERVICES MANAGER I"},
 "BUSINESS SERVICE ASSISTANT (SPECIALIST)"
 #{"SENIOR AVIATION OFFICER"},
 "ENVIRONMENTAL PROGRAM MANAGER II" #{"C.E.A."},
 "CUSTODIAN SUPERVISOR I" #{"CHIEF OF PLANT OPERATION I"},
 "ASSOCIATE RIGHT OF WAY AGENT" #{"SUPERVISING RIGHT OF WAY AGENT"},
 "RESEARCH DATA ANALYST I"
 #{"ASSISTANT CHIEF" "RESEARCH DATA SUPERVISOR I"},
 "RESEARCH DATA MANAGER"
 #{"INFORMATION TECHNOLOGY MANAGER II" "C.E.A."},
 "ASSOCIATE ARCHITECT"
 #{"PRINCIPAL TRANSPORTATION ENGINEER, CALTRANS"
   "SENIOR CIVIL ENGINEER"},
 "SUPERVISING RIGHT OF WAY AGENT" #{"SUPERVISING LAND SURVEYOR"},
 "SENIOR ENVIRONMENTAL SCIENTIST(SPECIALIST)"
 #{"FORESTER III" "FORESTER II (SUPERVISORY)"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "EXECUTIVE ASSISTANT"},
 "RESEARCH DATA SUPERVISOR I" #{"RESEARCH DATA MANAGER"},
 "OFFICE ASSISTANT (TYPING)" #{"ASSISTANT CHIEF"},
 "STATIONARY ENGINEER" #{"CHIEF OF PLANT OPERATION I"},
 "MECHANICAL ENGINEER"
 #{"SUPERVISING ARCHITECT" "SUPERVISING MECHANICAL ENGINEER"},
 "SENIOR RIGHT OF WAY AGENT" #{"SUPERVISING RIGHT OF WAY AGENT"},
 "C.E.A."
 #{"FORESTER III" "LABOR RELATIONS MANAGER I"
   "FORESTER I (NONSUPERVISORY)"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "STAFF SERVICES MANAGER I"
   "ENVIRONMENTAL PROGRAM MANAGER II"
   "C.E.A."
   "RESEARCH DATA SPECIALIST II"},
 "FORESTRY TECHNICIAN" #{"FORESTER III"},
 "STAFF SERVICES MANAGER III" #{"C.E.A."},
 "SUPERVISING ARCHITECT"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"},
 "SUPERVISING MECHANICAL ENGINEER"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"},
 "AVIATION OFFICER III (FLIGHT OPERATIONS)"
 #{"SENIOR AVIATION OFFICER"},
 "ACCOUNTING TECHNICIAN" #{"ACCOUNTING ADMINISTRATOR I (SUPERVISOR)"},
 "ASSOCIATE MECHANICAL ENGINEER"
 #{"PRINCIPAL TRANSPORTATION ENGINEER, CALTRANS"
   "SENIOR CIVIL ENGINEER"},
 "SENIOR PERSONNEL SPECIALIST" #{"STAFF SERVICES MANAGER I"},
 "STAFF SERVICES MANAGEMENT AUDITOR"
 #{"STAFF SERVICES MANAGER II (SUPERVISORY)"},
 "RESEARCH DATA SPECIALIST III" #{"RESEARCH DATA MANAGER"},
 "FORESTRY EQUIPMENT MANAGER II"
 #{"SENIOR FORESTRY EQUIPMENT MANAGER"},
 "SENIOR FORESTRY EQUIPMENT MANAGER" #{"C.E.A."},
 "SENIOR AVIATION OFFICER" #{"C.E.A."},
 "TRANSPORTATION SURVEYOR PARTY CHIEF (CALTRANS)"
 #{"SENIOR LAND SURVEYOR"},
 "LABOR RELATIONS ANALYST" #{"LABOR RELATIONS MANAGER I"},
 "FIRE APPARATUS ENGINEER"
 #{"LABOR RELATIONS MANAGER I" "FIRE CAPTAIN" "BATTALION CHIEF"},
 "FORESTRY AIDE"
 #{"FORESTER III" "FORESTER II (SUPERVISORY)"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"},
 "ASSOCIATE TELECOMMUNICATIONS ENGINEER" #{"C.E.A."},
 "RESEARCH DATA SPECIALIST II"
 #{"FORESTER III" "FORESTRY AND FIRE PROTECTION ADMINISTRATOR"
   "SUPERVISING PIPELINE SAFETY ENGINEER"
   "ENVIRONMENTAL PROGRAM MANAGER I (MANAGERIAL)"
   "SENIOR ENVIRONMENTAL SCIENTIST (SUPERVISORY)"
   "ASSISTANT CHIEF"
   "RESEARCH DATA SUPERVISOR II"
   "RESEARCH DATA MANAGER"},
 "HEAVY EQUIPMENT MECHANIC"
 #{"ASSISTANT CHIEF" "BATTALION CHIEF" "FORESTRY EQUIPMENT MANAGER I"},
 "DEPUTY STATE FIRE MARSHAL III (SPECIALIST)"
 #{"DIVISION CHIEF, CALIFORNIA STATE FIRE MARSHAL'S OFFICE"
   "DEPUTY STATE FIRE MARSHAL III (SUPERVISOR)"},
 "INFORMATION TECHNOLOGY SPECIALIST II"
 #{"INFORMATION TECHNOLOGY MANAGER I"},
 "TRANSPORTATION SURVEYOR (CALTRANS)"
 #{"TRANSPORTATION SURVEYOR PARTY CHIEF (CALTRANS)"},
 "ASSOCIATE MANAGEMENT AUDITOR"
 #{"STAFF SERVICES MANAGER II (SUPERVISORY)"},
 "ATTORNEY III"
 #{"EXECUTIVE ASSISTANT" "ATTORNEY, ASSISTANT CHIEF COUNSEL"}}