[ {:file-path "resources/Southern Region Org Charts 01.01.25.pdf"
  :Name "Southern Region Org Charts 01.01.25"
  :org-charts [{:page 14
                :description "San Bernardino Unit (BDU"}]},
 {:file-path "resources/Sac HQ Org Charts 01.01.25.pdf"
  :Name "Sac HQ Org Charts 01.01.25"
  :org-charts [{:page 1
                :description "Senior Leadership"},
               {:page 2
                :description "Administrative Staff"},
               {:page 3
                :description "Department Accounting Office"},
               {:page 4
                :description "Travel, Revolving Fund, and Admin"},
               {:page 5
                :description "Fund and Labor Accounting"},
               {:page 6
                :description "Fund Accounting and Systems"},
               {:page 7
                :description "Accounts Receivable"},
               {:page 8 :description "Accounts Payable and P-Card"},
               {:page 9 :description "P-Card"},
               {:page 10 :description "Fiscal Services"},
               {:page 11 :description "Fiscal Services 2"},
               {:page 12 :description "Contracts & Grants"},
               {:page 13 :description "Contracts Section"},
               {:page 14 :description "Grants Management Section"},
               {:page 15 :description "Property & Local Services, & Fiscal Incident Support"},
               {:page 16 :description "Procurement / Property & Local Services"},
               {:page 17 :description "Fiscal Incident Support"},
               {:page 18 :description "Emergency Fund Policy and Data Analytics"},
               {:page 19 :description "Budget Office"},
               {:page 20 :description "Communications"},
               {:page 21 :description "Diversity Equite Inclusion and Belonging"},
               {:page 22 :description "HUMAN RESOURCE MANAGEMENT"},
               {:page 23 :description "WORKFORCE DEVELOPMENT AND SPECIAL PROJECTS PROGRAM"},
               {:page 24 :description "HUMAN RESOURCE MANAGEMENT (2)"},
               {:page 25 :description "OCCUPATIONAL HEALTH PROGRAM"},
               {:page 26 :description "HUMAN RESOURCE MANAGEMENT (3)"},
               {:page 27 :description "LABOR RELATIONS OFFICE"},
               {:page 28 :description "TECHNOLOGY DIVISION"},
               {:page 29 :description "TECHNOLOGY DIVISION (2)"},
               {:page 30 :description "TECHNOLOGY DIVISION (3)"},
               {:page 31 :description "LEGAL SERVICES"},
               {:page 32 :description "Office of Legislation"},
               {:page 33 :description "OFFICE OF PROGRAM ACCOUNTABILTY"},
               {:page 34 :description "Professional Standards Program"},
               {:page 35 :description "A&E"},
               {:page 36 :description "Finance & Sustainability Unit"},
               {:page 37 :description "Lands Branch Positions and Functions"},
               {:page 38 :description "BOARD OF FORESTRY AND FIRE PROTECTION"},
               {:page 39 :description "PROFESSIONAL FORESTERS REGISTRATION"},
               {:page 40 :description "Resource Management"},
               {:page 41 :description "Resource Management Forest Practice"},
               {:page 42 :description "Resource Protection & Improvement"},
               {:page 43 :description "Resource Protection and Improvement(2)"},
               {:page 44 :description "Resource Protection and Improvement(3)"},
               {:page 45 :description "Resource Protection and Improvement(4)"},
               {:page 46 :description "Prescribed Fire"},
               {:page 47 :description "Climate & Energy"},
               {:page 48 :description "Resource Management Administrative Unit"},
               {:page 49 :description "Fire and Resource Assessment Program"},
               {:page 50 :description "Fire Protection & Cooperative Fire Leadership"},
               {:page 51 :description "Cooperative Fire"},
               {:page 52 :description "Cooperative Fire - Hand Crews"},
               {:page 53 :description "MCAD Retired Annuitants"},
               {:page 54 :description "Cooperative Fire – Safety/EMS"},
               {:page 55 :description "Fire Protection & Cooperative Fire Leadership"},
               {:page 56 :description "Fire Protection - Operations"},
               {:page 57 :description "Sacramento Emergency Command Center"},
               {:page 58 :description "Fire Protection – Operations Support"},
               {:page 59 :description "Operations – Hired Equipment"},
               {:page 60 :description "Fire Protection – Intel"},
               {:page 61 :description "Fire Protection - Aviation Management Unit"},
               {:page 62 :description "Fire Protection - Aviation Management Unit (2)"},
               {:page 63 :description "Fire Protection - Mobile Equipment"},
               {:page 64 :description "Fire Protection – Tactical Air Operations"},
               {:page 65 :description "Fire Protection – Tactical Air Operations Retired Annuitants"},
               {:page 66 :description "Fire Protection – Law Enforcement and Civil Cost Recovery"},
               {:page 67 :description "CAL FIRE TRAINING PROGRAM"},
               {:page 68 :description "CAL FIRE TRAINING CENTER"},
               {:page 69 :description "CAL FIRE TRAINING CENTER (2)"},
               {:page 70 :description "CAL FIRE TRAINING CENTER (3)"},
               {:page 71 :description "CAL FIRE TRAINING CENTER (4)"},
               {:page 72 :description "CAL FIRE TRAINING CENTER (5)"},
               {:page 73 :description "CAL FIRE TRAINING CENTER (FACILITIES)"},
               {:page 74 :description "CAL FIRE TRAINING CENTER ( RIVERSIDE TRAINING CENTER )"},
               {:page 75 :description "CAL FIRE TRAINING CENTER ( REDDING TRAINING CENTER )"},
               {:page 76 :description "CAL FIRE TRAINING CENTER ( ATWATER TRAINING CENTER )"},
               {:page 77 :description "CAL FIRE TRAINING CENTER ( RETIRED ANNUITANTS )"},
               {:page 78 :description "STATEWIDE TRAINING"},
               {:page 79 :description "STATEWIDE TRAINING (2)"},
               {:page 80 :description "STATEWIDE TRAINING ( RETIRED ANNUITANTS )"},
               {:page 81 :description "Support Services Division"},
               {:page 82 :description "State Fire Training Division"},
               {:page 83 :description "Fire and Life Safety Division"},
               {:page 84 :description "Pipeline Safety Division & CUPA Programs"},
               {:page 85 :description "Fire Engineering and Investigations"},
               {:page 86 :description "Code Development and Analysis Division"},
               {:page 87 :description "Community Wildfire Assistance"}
               ]}
]